body {
  //background-color: #D81E05;
  background-color: black;
  background-image: url("../images/checkerboard_big.jpg");
  background-size: cover;
  padding-top: 20px;
}

div.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1497px;
  height: 997px;
  background-color: black;
}

div {
  font-family: arial;
  text-align: center;
}

.info {
  outline: 1px solid white;
  outline-offset: -3px;
  line-height: 30px;
  font-size: 17px;
}

.daCount {
  opacity: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 62px;
}

div.marker {
  position: absolute;
  width: 120px;
  height: 130px;
  color: white;
  background: black;
  line-height: 20px;
  outline: 2px solid white;
  outline-offset: -4px;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
  background-image: url(../images/checkerboard.png);
}

div.triangle {
    position: relative;;
    width: 0;
  	height: 0;
  	border-left: 60px solid transparent;
  	border-right: 60px solid transparent;
  	border-top: 30px solid black;
    opacity: .7;
    top: 7px;
}

div.m1 {
  top: 25%;
  left: 4%;
}

div.m2 {
  top: 13%;
  left: 67%;
}

div.m3 {
  top: 60%;
  left: 68%;
}

div.m4 {
  top: 2%;
  left: 59%;
}

div.m0 {
  top: 27%;
  left: 60%;
}

#map {
  width: 100%;
  height: 100%;
  background-image: url(../images/toyota_campus.png);
  background-repeat: no-repeat;
}
